<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="Shortcut Icon" href="/favicon.ico" type="image/x-icon" />  
    <title>@ViewBag.Title</title>
    <link href="~/Content/css/main.css" rel="stylesheet" />

</head>
<body>
    @*<div id="ahihi"></div>*@
    <div id="head-menu">
        <div id="logo">
            <a href="@Url.Action("index","Home")"><img src="~/Content/images/products/logo.png" /></a>
        </div>
        <div id="menu">
            <div class="dropdow">
                <div class="dropdown-content">
                    <div class="parent-menu">
                        <div class="title"><a href="#">Danh mục</a></div>
                        <div class="parent-menu-content">
                            @Html.Action("CategoryPartial", "Category")
                        </div>
                    </div>
                    <div class="parent-menu">
                        <div class="title"><a href="#">Blogs</a></div>
                    </div>
                    <div class="parent-menu">
                        <div class="title"><a href="#">Giới thiệu</a></div>
                    </div>
                    <div class="parent-menu">
                        <div class="title"><a href="#">Thông tin liên hệ</a></div>
                    </div>
                </div>
            </div>
            @if (System.Web.HttpContext.Current.Session["user"] != null)
            { 
                <div class="admin">
                <div class="parent-menu">
                    <div class="title">Hello, Admin</div>
                    <div class="parent-menu-content">
                        <div class="child-menu"><a href="@Url.Action("Index","Product")>Quản lý sản phẩm</a></div>
                        <div class="child-menu"><a href="@Url.Action("Create","Product")">Đăng sản phẩm</a></div>                        
                        <div class="child-menu"><a href="@Url.Action("index","Category")">Quản lý danh mục</a></div>
                        <div class="child-menu"><a href="@Url.Action("","")#">Quản lý banner</a></div>
                        <div class="child-menu"><a href="@Url.Action("index","Order")">Quản lý Đơn hàng</a></div>
                        <div class="child-menu"><a href="@Url.Action("Logout","User")">Đăng xuất</a></div>
                    </div>
                </div>
            </div>
            }            
            <div class="right">
                <div class="search">
                    <a href="#"></a>
                    <div class="search-content">
                        <input type="text">
                        <input type="button" value="Tìm"/>
                        <a href="#">Nâng cao</a>
                    </div>
                </div>
                <div class="cart">
                    <a href="#"></a>
                    <div class="cart-content">
                        <div class="box">
                            <div class="picture">
                                <img src="~/Content/images/products/dress/1.png"/>
                            </div>
                            <div class="name">Tên sản phẩm</div>
                            <div class="price">999 999  VNĐ</div>
                        </div>
                        <div class="box">
                            <div class="picture">
                                <img src="~/Content/images/products/dress/1.png" />
                            </div>
                            <div class="name">Tên sản phẩm</div>
                            <div class="price">999 999  VNĐ</div>
                        </div>
                        <div class="action">
                            <input type="button" value="Thanh toán"/>
                        </div>
                    </div>
                </div>
            </div>            
        </div>
        <div id="line"></div>
    </div>
    @RenderBody()
    <div id="footer">
        <div class="top">
            <div class="logo"><img src="~/Content/images/banner/footer-logo.png" /></div>
            <ul>
                <li><a href="#">Home</a></li>
                <li class="line"></li>
                <li><a href="#">Blog</a></li>
                <li class="line"></li>
                <li><a href="#">Tìm kiếm nâng cao</a></li>
                <li class="line"></li>
                <li><a href="#">Thông tin</a></li>
                <li class="line"></li>
                <li><a href="#">Liên hệ</a></li>
            </ul>
        </div>
        <div class="line1"></div>
        <div class="bottom">
            <p>Coppyright © 2016 3T. All Rights Reserved</p>
        </div>
    </div>
    <script>
        var menu = document.querySelector('#menu');
        var headmenu = document.querySelector('#head-menu');
        var width = document.documentElement.clientWidth;
        if (width == 320) {
            var menuPosition = menu.getBoundingClientRect().top;
            window.addEventListener('scroll', function () {
                if (window.pageYOffset >= menuPosition) {
                    menu.style.position = 'fixed';
                    menu.style.top = '0px';
                    menu.style.marginTop = '0px';
                } else {
                    menu.style.position = 'static';
                    menu.style.top = '';
                }
            });
        }
        else {
            //var menuPosition = headmenu.getBoundingClientRect().top;
            //window.addEventListener('scroll', function () {
            //    if (window.pageYOffset >= menuPosition) {
            ////headmenu.style.position = 'static';
            //headmenu.style.position = 'fixed';
            //headmenu.style.top = '0px';
            //headmenu.style.marginTop = '0px';
            //headmenu.style.top = '0px';
            //headmenu.style.background = 'white';
                    //headmenu.style.top = '0px';
                    //headmenu.style.marginTop = '0px';
                //} else {
                //    headmenu.style.position = 'static';
                //    headmenu.style.top = '';
                //}
            //});
        }
    </script>
</body>
</html>
